.form {
   text-align: center;
}

input[type=text] {
   width: 45%;
   padding: 3px 4px;
   margin: 5px 10px;
   box-sizing: border-box; /* this makes sure that the padding and eventually borders are included in the total width and height of the elements. This makes fixed width without scroll-down bar.
   */
   border: none; /* removes borders */
   border-bottom: 2px solid #ccc; /* sets bottom border values */
   box-shadow: 8px 5px rgb(250, 202, 139);
}

input[type=text]:focus /* to do something with the input field when it gets focus */ {
   border: none;
}

input[type=text] {
   transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
   width: 45.7%;
}