/* || TOP CONTAINER */
.grid-container {
   /*
      an HTML doc element becomes a grid container when its display is set to grid or inline-grid
   */
   /*
      use display:grid to make block-level container OR display:inline-grid to make inline-grid container
   */
   display: grid; /* makes block-level grid container */
   grid-template-columns: repeat(12, 1fr);  /* makes 12 columns */
   /*grid-template-rows: repeat(3, 1fr); /*or -> 1fr 1fr 1fr 1fr;*/
   grid-template-areas:
      "he he he he   he he he he   he he he he"
      "na na na na   na na na na   na na na na"
      "ma ma ma ma   ma ma ma ma   ma as as as"
      "fo fo fo fo   fo fo fo fo   fo fo fo fo";
   /* 
      grid-template-areas -> defines a grid template by referencing the names of the grid areas */
   /*
      <grid-area-name>  – the name of a grid area specified with grid-area,
      .                 - a period signifies an empty grid-area,
      none              - no grid areas are defined
   */

   
   /* grid-auto-flow: dense; /* place items to fill any holes in the grid */
   /*
      The grid-auto-flow property controls how auto-placed items get inserted in the grid.
   */
}

.container {
   border: 2px solid green;
   text-align: center;
}

/* || SHOWCASE */
.container-a-header {
   grid-area: he;
}

.container-b-nav {
   grid-area: na;
}

.container-c-main {
   grid-area: ma;
}

.container-d-aside {
   grid-area: as;
}

.container-e-footer {
   grid-area: fo;
}

/* || LAYOUT ON DIFFERENT SCREEN SIZES */

/*
   Media Querie for Tablets
*/

/* On screens that are 720 or less, set: */
@media screen and (max-width: 720px) {
   .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
         "he he he he   he he he he   he he he he"
         "na na na na   na na na na   na na na na"
         "ma ma ma ma   ma ma ma ma   ma ma ma ma"
         "as as as as   as as as as   as as as as"
         "fo fo fo fo   fo fo fo fo   fo fo fo fo";
   }
   /* || OTHER PART OF CODE */
   .container {
      border: 2px solid rgb(255, 47, 47);
   }
}

/*
   Media Querie for Mobile Phones
*/

/* On screens that are 480 or less, set: */
@media screen and (max-width: 480px) {
   .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:
         "he he he he   he he he he   he he he he"
         "na na na na   na na na na   na na na na"
         "ma ma ma ma   ma ma ma ma   ma ma ma ma"
         "as as as as   as as as as   as as as as"
         "fo fo fo fo   fo fo fo fo   fo fo fo fo";
   }
   /* || OTHER PART OF CODE */
   .container {
      border: 2px solid rgb(42, 5, 255);
   }

   /* || Style the ... */
   .top-nav li {
      display: block; /*to remove line breaks before and after each list item, to display them on one line */
   }

   footer {
        position: static;
        bottom: 0;
   }
}

