/* || CSS Variables */

:root {
  --primary: rgb(238, 199, 142);
  --dark: ;
  --light: ;
  -- shadow: ;
}

* {
  /* Sets margin: 0; and padding: 0; to remove browser default settings */
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; /* if the image is smaller than the container and we don't want it to repeat */
  background-attachment: fixed;
  /* Sets whether a background image is fixed or scrolls with the rest of the page */ 
}

body {
  background-color: var(--primary);
}