.flex-container {
   display: flex; 
   flex-wrap: wrap;
   background-color: bisque;
}

.flex-container > div {
   background-color: aquamarine;
   width: 150px;
   margin: 10px;
   text-align: center;
   line-height: 100px;
   font-size: 30px;
}

@media screen and (max-width: 1366px) /* resolution for iPhone XS */ {
   .flex-container {
      display: flex;
      justify-content: space-around;
   }

   .flex-container > div {
      width: 250px;
      color: rgb(113, 230, 84);
   }
}

@media screen and (max-width: 375px) /* resolution for iPhone XS */ {
   .flex-container {
      display: flex;
      flex-wrap: wrap;
   }

   .flex-container > div {
      flex: 100%;
      color: rgb(10, 8, 148);
   }
}