ul {
   background-color: #979797;text-align: center;
   list-style-type: none; /* Removes markers */
   overflow: hidden;
   margin: 0;
   padding: 0; /* || set margin: 0; and padding: 0; to remove browser default settings */
   position: sticky;
      /* || a sticky element toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). */
   position: -webkit-sticky; /* || same as position: sticky but for Safari web-browser */
}

li {
   float: left;
}

li a {
   color: white;
   text-decoration: none;
   text-align: center;
   display: inline-block; 
   /* || display: inline-block does not add a line-break after the element, so the element can sit next to other elements. */
   padding: 14px 16px;
}

li a:hover {
   background-color: #7e7e7e;
}

.active {
   background-color: red;
}