* {
  /* margin: 0; /* the space around an element's border */
}

body {
   background-image: url(https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=826&t=st=1675189438~exp=1675190038~hmac=f9db852a4cc12031004e1b545d52390364896998c10051d6db8f5e20c3118ac2);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }



/* || Header and Main Navigation */

.top-nav {
  text-align: center; /* in this situation centers the navigation bar */
  padding: 20px 18px; /* an element's padding area is the space between its content and its border */
  background-color: #6d6d6d;
  font-size: 18px;
  margin: 0; /* the space around an element's border */
}

.top-nav li {
  display: inline-block; /* to remove line breaks before and after each list item, to display them on one line */
}

.top-nav a {
  text-decoration: none; /* removes any text decoration */
  padding: 20px 15px; /* space between its content and its border */
  display: block;
}

.top-nav a:hover {
  background-color: rgb(102, 102, 102);
}

a, a:visited, a:hover, a:active /* to anchor color to stay the same as the anchor's parent element */ {
  color: inherit;
}



/* || Bottom navigation */

.bottom-nav {
  background-color: #6d6d6d;
  font-size: 17px;
  padding: 18px 10px;
  text-align: right;
}

.bottom-nav li {
  display: inline-block;
}

.bottom-nav a {
  text-decoration: none;
  padding: 4px 12px;
  display: block;
}

.bottom-nav a:hover {
  background-color: rgb(102, 102, 102);
}



/* || ...   */

.main-nav {
  text-align: center;
}

h1 {
  color: blue;
}

p {
  color: darkolivegreen;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: #d8d8d8;
}






/*

  list-style-type: none; ||| defines the type of list by setting the content of each marker, or bullet, on the list. Acceptable keyword values for list-style-type include: disc. circle. square. |||

  overflow: hidden; ||| ??? |||



*/